<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodsMapper">
<resultMap id="goods" type="com.sample.myapp.goods.GoodsVo">
	<result column="goods_id" property="goodsId"/>
	<result column="goods_type" property="goodsType"/>
	<result column="goods_name" property="goodsName"/>
	<result column="goods_price" property="goodsPrice"/>	
	<result column="goods_color" property="goodsColor"/>
	<result column="goods_size" property="goodsSize"/>
	<result column="goods_option_1" property="goodsOption1"/>
	<result column="goods_option_2" property="goodsOption2"/>
	<result column="goods_option_3" property="goodsOption3"/>
	<result column="goods_image" property="dbGoodsImage"/>
	<result column="goods_date" property="goodsDate"/>
	<result column="goods_html" property="goodsHTML"/>
	<result column="goods_sale" property="goodsSale"/>
	<result column="goods_best" property="goodsBest"/>
	<result column="goods_active" property="goodsActive"/>
	<result column="s3_goods_image" property="s3GoodsImage"/>
	<result column="goods_small_type" property="goodsSmallType"/>
</resultMap>
<resultMap id="emoji" type="com.sample.myapp.goods.EmojiVo">
	<result column="emojis_code" property="emojis_code"/>
	<result column="emojis_type" property="emojis_type"/>
</resultMap>
<resultMap id="goodsType" type="com.sample.myapp.goods.GoodsTypeVo">
	<result column="goods_code" property="goodsCode"/>
	<result column="type_name" property="typeName"/>
</resultMap>
<resultMap id="goodsSmallType" type="com.sample.myapp.goods.GoodsSmallType">
	<result column="goods_code" property="goodsCode"/>
	<result column="goods_small_code" property="goodsSmallCode"/>
	<result column="type_name" property="typeName"/>
</resultMap>
<select id="goodsSelectAll" parameterType="HashMap" resultMap="goods">
	select * from goods
	<choose>
		<when test = "goodsType==null or goodsType == -1">
		where 1= 1
	</when>
	<otherwise>
		where goods_type = #{goodsType}
	</otherwise>
	</choose>
	<if test = "searchKeyword!='' and searchKeyword!=null">
		AND goods_name like "%"||#{searchKeyword}||"%"
	</if>
	order by goods_date
	limit #{size} offset #{start}
</select>
<select id="goodsTotal" parameterType="HashMap" resultType="java.lang.Integer">
	select count(goods_id) from goods 
	<choose>
		<when test = "goodsType==null or goodsType == -1">
		where 1= 1
	</when>
	<otherwise>
		where goods_type = #{goodsType}
	</otherwise>
	</choose>
	<if test= "searchKeyword !='' and searchKeyword!=null">
		AND goods_name like "%"||#{searchKeyword}||"%"
	</if>
</select>
<select id="goodsTypeSelectAll" resultMap="goodsType">
	select * from goods_type
</select>
<select id="emojisSelectAll" parameterType="com.sample.myapp.PageVO" resultMap="emoji">
	select * from emojis
	limit #{size} offset #{start}
</select>
<select id="emojisCount" resultType="java.lang.Integer">
	select count(*) from emojis
</select>
<insert id="goodsInsert" parameterType="com.sample.myapp.goods.GoodsVo">
	<if test = "goodsId == 0">
		insert into goods values(
		(select IFNULL(max(a.goods_id),0)+1 from goods a),
		#{goodsType},
		#{goodsName},
		#{goodsPrice},
		#{goodsColor},
		#{goodsSize},
		#{goodsOption1},
		#{goodsOption2},
		#{goodsOption3},
		#{dbGoodsImage},
		SYSDATE(),
		#{goodsHTML},
		#{goodsSale},
		#{goodsBest},
		#{goodsActive},
		#{s3GoodsImage},
		#{goodsSmallType}
	)
	</if>
	<if test = "goodsId != 0">
		update goods set 
			goods_type = #{goodsType},
			goods_name = #{goodsName},
			goods_price = #{goodsPrice},
			goods_color = #{goodsColor},
			goods_size = #{goodsSize},
			goods_option_1 = #{goodsOption1},
			goods_option_2 = #{goodsOption2},
			goods_option_3 = #{goodsOption3},
			goods_image = #{dbGoodsImage},
			goods_date = SYSDATE(),
			goods_html = #{goodsHTML},
			goods_sale = #{goodsSale},
			goods_best = #{goodsBest},
			goods_active = #{goodsActive},
			s3_goods_image = #{s3GoodsImage},
			goods_small_type = #{goodsSmallType}
		
		where goods_id = #{goodsId}
	</if>
</insert>
<select id="goodsOption" resultType="STRING">
 	select * from goods
 	where goods_type =1
 </select>
 <select id="selectOneGoods" parameterType="java.lang.Integer" resultMap="goods">
 	select * from goods where goods_id = #{goodsId}
 </select>

 <delete id="deleteGoods" parameterType="java.lang.Integer">
 	delete from goods where goods_id = #{goodsId}
 </delete>

 

<select id="goodsSelectOrderby_price_down" parameterType="com.sample.myapp.PageVO" resultMap="goods">
	select * from goods
	order by goods_price
	limit #{size} offset #{start}
</select>
<select id="goodsSelectOrderby_price_up" parameterType="com.sample.myapp.PageVO" resultMap="goods">
	select * from goods
	order by goods_price desc
	limit #{size} offset #{start}
</select>
<select id="goodsSelectOrderby_date_new" parameterType="com.sample.myapp.PageVO" resultMap="goods">
	select * from goods
	order by goods_date desc
	limit #{size} offset #{start}
</select>
<select id="goodsSelectOrderby_best" parameterType="com.sample.myapp.PageVO" resultMap="goods">
	select * from goods
	order by goods_best
	limit #{size} offset #{start}
</select>
</mapper>