<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="loveMapper">
<resultMap id="love" type="com.sample.myapp.love.LoveVO">
	<result column="love_id" property="love_id"/>
	<result column="user_id" property="user_id"/>
	<result column="goods_id" property="goods_id"/>
</resultMap>
<insert id="loveInsert" parameterType="com.sample.myapp.love.LoveVO">
	insert into love_it(
		love_id,
		user_id,
		goods_id
	)values(
		#{love_id},
		#{user_id},
		#{goods_id}
	)
</insert>

<select id="selectLoveUser" parameterType="String" resultMap="love">
	select * from love_it where user_id = #{userId} 
</select>
</mapper>